{% include 'header.html' %}
<div class="row" style="height: 90vh;">
    <div class="col-md-3 p-5 bg-light">
        <h1>Bonjour David !</h1>
        <p>Ceci est ton tableau de bord pour ce projet.</p>
        <p>Tu peux accéder facilement aux questions des différentes étapes à travers le panneau du milieu.</p>
    </div>
    <div class="col-md-9">
        <div class="row m-2" style="min-height: 60vh;">
            <div class="col-md bg-primary text-white perso-middle">
                <div class="p-4">
                    <h1>
                        Définition de la structure
                    </h1>
                    <a class="btn btn-dark mt-4" href="/board/structure">Cliquer ici</a>
                    <p class="mt-3">Pour selectionner specifiquement une question.</p>

                </div>
            </div>
            <div class="col-md bg-dark perso-middle">
                <div class="p-4 text-white">
                    <h1>
                        Définition des probabilités (bientôt)
                    </h1>
                    <a class="btn btn-secondary mt-4 disabled" href="/board/structure">Cliquer ici</a>
                    <p class="mt-3">Pour selectionner specifiquement une question.</p>
                </div>
            </div>
            <div class="col-12 bg-secondary text-white p-3">
                <h4>
                    Informations sur le modèle
                </h4>
                <p>
                    Il vous reste <span class="font-weight-bold">{{ questions_restantes }} questions.</span> <br>
                    Le réseau contient <span class="font-weight-bold">{{ noeuds }} noeuds.</span>
                </p>
            </div>


        </div>
    
    </div>
</div>
{% include 'footer.html' %}