<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css' ) }}">
    <title>Document</title>
</head>

<body>
    <script src="https://kit.fontawesome.com/20cbce8d4a.js" crossorigin="anonymous"></script>

    <div class="container" style="height:100vh;">
        <div>
            <p>
                Etat d'avancement :
                Vous pouvez …
            </p>
        </div>
        <div class="row h-100 py-5">
            <div class="col-2 perso-middle ">
                <a style="width: 50%; height: 50px;" class="bg-dark text-white perso-middle rounded"><i
                        class="fas fa-home text-white"></i></a>
            </div>
            <div class="col-8">
                <h1>{{ node.generateQuestionAsString(question[0]) }}</h1>
                <input type="range" class="form-range">
            </div>
            <div class="col-2 perso-middle">
                <a style="width: 50%; height: 50px;" class="bg-dark text-white perso-middle rounded">&rightarrow;</a>
            </div>
        </div>
    </div>

</body>

</html>