<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ url_for('static', filename='bootstrap.min.css') }} " >
    <title>{{title}}</title>
</head>
<body >
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div class="border rounded p-3 text-white bg-dark w-25">
            <form action="/board" method="POST">
                <input type="file" name="loadFile">
                <button type="submit">Ok</button>
            </form>
            <p class="text-center">Chargez le fichier provenant de GeNIe et commencez à éliciter.</p>
        </div>
    </div>
    <script src= " {{ url_for('static', filename='bootstrap.min.js') }} " type="text/javascript"></script>
</body>
</html>