{% include 'header.html' %}

<div class="container perso-middle" style="height: 50vh;">
    {% if error == true %} 
    <div>
        error
    </div>
    {%endif%}
    <div class="border rounded bg-light p-4">
        <form action="/login" method="POST">
            <div class="mb-3">
                <label class="form-label" for="un">Nom d'utilistateur</label>
                <input class="form-control" type="text" id="un" name="un" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="mdp">Mot de passe</label>
                <input class="form-control" type="password" id="mdp" name="mdp" required>
            </div>
            <button class="btn btn-primary" type="submit">Connexion</button>
        </form>
    </div>
</div>

{% include 'footer.html' %}