<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>Document</title>
</head>

<body>
    <script src="https://kit.fontawesome.com/20cbce8d4a.js" crossorigin="anonymous"></script>
    <div class="container my-5">
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    {% set ns = namespace(gate=true) %}
                    {% for node in nodes %}
                    {% if ns.gate %}
                    <a class="list-group-item list-group-item-action active" id="list-{{node.id}}-list" data-bs-toggle="list" href="#list-{{node.id}}" role="tab" aria-controls="list-{{node.id}}">{{node.id}}</a>
                    {% set ns.gate = false %}
                    {% else %}
                    <a class="list-group-item list-group-item-action" id="list-{{node.id}}-list" data-bs-toggle="list" href="#list-{{node.id}}" role="tab" aria-controls="list-{{node.id}}">{{node.id}}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    {% set ns.gate = true %}
                    {% for node in nodes %}
                    {% if ns.gate %}
                    <div class="tab-pane fade show active" id="list-{{node.id}}" role="tabpanel" aria-labelledby="list-{{node.id}}-list">
                        <h1>{{node.id}}</h1>
                        <h4>Parents : {{node.parents}}</h4>
                        <h4>Etats : {{node.states}}</h4>
                        <ul class="list-group my-4">
                            <li class="list-group-item active" aria-current="true">Questions</li>
                            {% for question in node.getQuestions() %}
                            <li class="list-group-item" style="display: flex; justify-content: space-between;">
                                {{ node.generateQuestionAsString(question[0])}}
                                <a href=""><i class="fas fa-pen-alt"></i></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% set ns.gate = false %}
                    {% else %}
                    <div class="tab-pane fade" id="list-{{node.id}}" role="tabpanel" aria-labelledby="list-{{node.id}}-list">
                        <h1>{{node.id}}</h1>
                        <h4>Parents : {{node.parents}}</h4>
                        <h4>Etats : {{node.states}}</h4>
                        <ul class="list-group my-4">
                            <li class="list-group-item active" aria-current="true">Questions</li>
                            {% set ns.itteration = 0 %}
                            {% for question in node.getQuestions() %}
                            <li class="list-group-item" style="display: flex; justify-content: space-between;">
                                {{ node.generateQuestionAsString(question[0]) }}
                                <a href="/board/elicitation/questions?node={{node.id}}&question={{ns.itteration}}"><i class="fas fa-pen-alt mx-3"></i></a>
                                {% set ns.itteration = ns.itteration + 1 %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>

</html>