{% include 'header.html' %}

<div class="container my-5">
    <p class="alert-info rounded p-2">Dans ce questionnaire vous indiquer la question à laquelle vous préféreriez
        répondre (1 et 2) ou si les variables proposés non pas de liens(3). </p>
    <div class="row">
        <div class="col-2">
            <a href="/board/structure">Retourner aux questions</a>
        </div>
        <div class="col">
            <h1>Vous seriez plus à l'aise pour répondre à :</h1>
            <p>Estimer la … </p>
            <form action="" method="POST">
                <input type="hidden" name="qId" value="{{qId}}">
                {% for i in range(0,3) %}
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioBtn" id="radioBtn{{i}}"
                        value="option{{i}}" {% if aId == i %}checked{% endif %}>
                    <label class="form-check-label" for="radioBtn{{i}}">
                        {%if i == 2%}
                        pas de lien entre <strong>{{answers[i][0]}}</strong> et <strong>{{answers[i][1]}}</strong>
                        {% else %}
                        probabilité que <strong>{{answers[i][0]}}</strong> soit <strong>{{answers[i][1]}}</strong> sachant que <strong>{{answers[i][2]}}</strong> est <strong>{{answers[i][3]}}</strong>
                        {%endif%}
                    </label>
                </div>
            
                {% endfor %}
                <button class="btn btn-primary my-4" type="submit">Valider la réponse</button>
            </form>
        </div>
    </div>


</div>


{% include 'footer.html' %}