{% include 'header.html' %}
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 px-5">
                <h1>Questions sur la structure</h1>
                <p>Les questions ci-dessous concerne les relations entres les différentes variables du modèle VIPGRADE.</p>
                <p>Vous pouvez cliquer sur le crayon pour répondre aux différentes questions.</p>
                <ul>
                    <li>Un crayon <i class="fas fa-pen-alt mx-1 text-danger"></i> indique que la question est en attente d'une réponse.</li>
                    <li>Un crayon <i class="fas fa-pen-alt mx-1 text-success"></i> indique que la question a été répondu.</li>
                </ul>
                <div class="row mt-4 ">
                    <div class="col mx-2 bg-secondary rounded p-3 text-white">
                        <h5>Il reste {{wait}} questions. {%if wait != 0%}Bon courage !{%else%}Bravo !{%endif%}</h5>
                    </div>
                    <div class="col mx-2 bg-success rounded p-3 text-white">
                        <h5>Vous avez répondu à {{ len - wait }} questions pour le moment.</h5>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 mt-4 mt-md-0 border-bottom" style="overflow-y: scroll; height : 80vh;">
                
                <ul class="list-group"> 
                    {% for key, values in questions.items() %}
                    {% if values|length > 0%}
                    <li class="list-group-item active">{{ key }} </li>
                    {% for key2, value2 in values.items()%}
                    <li class="list-group-item" style="display: flex; justify-content: space-between;"> 
                        <span>A propos de <strong>{{key2}}</strong></span>
                        <a href="/board/structure/questions?n={{key}}&q={{key2}}&a={{states[key][key2]}}" class="{%if states[key][key2] != 'false'%}text-success{% else %}text-danger{% endif %}"><i class="fas fa-pen-alt mx-3"></i></a></li>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </ul>
                
            </div>
           
        </div>
        
    </div>
{% include 'footer.html' %}