{% include 'header.html' %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container py-5">
    <div class="row">
        <h3>Comment estimé vous la probabilité de zone de morsure ?</h3>
    </div>
    <div class="row mt-4">
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
                    type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Echelle</button>
                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
                    type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Roulette</button>
            </div>
            <div class="tab-content ms-5" id="v-pills-tabContent" >
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <form class="" action="" style="width: 800px;">
                        <div class="" style="display: flex; justify-content: space-between;">
                            <span>Impossible</span>
                            <span>Peu probable</span>
                            <span>Peu probable</span>
                            <span>50-50</span>
                            <span>Très probable</span>
                            <span>Très probable</span>
                            <span>Certain</span>
                        </div>
                        <div class="" style="display: flex; justify-content: space-between;">
                            <span>|</span>
                            <span>|</span>
                            <span>|</span>
                            <span>|</span>
                            <span>|</span>
                            <span>|</span>
                            <span>|</span>
                        </div>
                        <input type="range" class="form-range" min="0" max="100" step="1" oninput="rangeValueScale(this.value)">
                        <div style="display: flex; justify-content: right;">
                            <span class="badge rounded-pill bg-primary" id="rangeValueScale"></span>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <form action="">
                        <div class="row align-items-center">
                            <div class="col-md-6 px-4">
                                <canvas id="myChart"></canvas>
                            </div>
                            <div class="col-md-6 px-4">
                                <label for="">membre_sup <span class="badge rounded-pill bg-primary" id="rangeValuePie1">1</span></label>
                                <input type="range" class="form-range chart" oninput="setDatas(this.value, 0)">
                                <label for="">membre_inf <span class="badge rounded-pill bg-primary" id="rangeValuePie2">1</span></label>
                                <input type="range" class="form-range chart" oninput="setDatas(this.value, 1)">
                                <label for="">autres <span class="badge rounded-pill bg-primary" id="rangeValuePie3">1</span></label>
                                <input type="range" class="form-range chart" oninput="setDatas(this.value, 2)">
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   

    <script>
        const labels = [
            'membre_sup',
            'membre_inf',
            'autres'
        ];
        const data = {
            labels: labels,
            datasets: [{
                label: 'My First dataset',
                backgroundColor: [
                    'rgb(255, 0, 0)',
                    'rgb(0, 0, 255)',
                    'rgb(0, 255, 0)',

                ],
                hoverOffset: 4,
                data: [100, 0, 0],
            }]
        };
        const config = {
            type: 'pie',
            data,
        };
        var myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

        function setDatas(value, id) {
            previousDatas = myChart.data.datasets[0].data


            index = (id + 1) % previousDatas.length
            delta = value - previousDatas[id]
            previousDatas[id] = parseInt(value, 10)
            // ajout
            if (delta > 0) {
                while (delta != 0) {
                    space = previousDatas[index]
                    if (space >= delta) {
                        previousDatas[index] = previousDatas[index] - delta
                        delta = 0
                    }
                    else {
                        delta = delta - previousDatas[index]
                        previousDatas[index] = 0
                    }
                    index = (index + 1) % previousDatas.length

                }
            }
            else if (delta < 0) {
                while (delta != 0) {
                    space = 100 - previousDatas[index]
                    if (-delta <= space) {
                        previousDatas[index] = previousDatas[index] - delta
                        delta = 0
                    }
                    else {
                        delta = space + delta
                        previousDatas[index] = 100
                    }
                    index = (index + 1) % previousDatas.length
                }
            }
            elements = document.getElementsByClassName("chart")
            elements[0].value = previousDatas[0]
            elements[1].value = previousDatas[1]
            elements[2].value = previousDatas[2]
            console.log(previousDatas)
            myChart.data.datasets[0].data = previousDatas
            myChart.update()
        }

        function init() {
            console.log("init")
            elements = document.getElementsByClassName("chart")
            elements[0].value = 100
            elements[1].value = 0
            elements[2].value = 0
        }


        function rangeValueScale(value) {
            element = document.getElementById('rangeValueScale')
            element.innerHTML = value+ " %"
        }

        window.onload = init()


    </script>
</div>

{% include 'footer.html' %}